<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxin.platform.apcos.cockpit.mapper.ListMapper">

    <select id="selectMaps" resultType="com.jinxin.platform.apcos.cockpit.pojo.domain.ListMap">
        select ID,MODEL_ID as modelId,COLUMN_ORI as columnOrl,COLUMN_EN as columnEn,COLUMN_CN as columnCn,DATA_TYPE as dataType
        from ODS_LIST_MODEL_DATA_MAP
        <where>
            <if test="modelId != null and modelId !=''">and MODEL_ID = #{modelId}</if>
            <if test="show != null">and SHOW_TYPE = #{show}</if>
        </where>
        ORDER BY COLUMN_ORI ASC
    </select>


</mapper>
