<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxin.platform.apcos.cockpit.mapper.UserMapper">

    <select id="selectUser" resultType="com.jinxin.platform.apcos.cockpit.pojo.domain.User">
        select USER_ID as userId,
               USER_NAME as userName,
               ID_CARD as idCard,
               AGE as age,
               GENDER as gender,
               DEPT as dept,
               USER_ADDRESS as address,
               USER_CELLPHONE_NO as phone,
               REGIST_TIME as registTime
        from V_ODS_USER_CENTER_INFO where 1=1
        <if test="ageStart != null">and AGE &gt;= #{ageStart}</if>
        <if test="ageEnd != null">and AGE &lt;= #{ageEnd}</if>
        <if test="gender != null and gender != ''">and GENDER = #{gender}</if>
        <if test="startTime != null">and REGIST_TIME &gt;= #{startTime}</if>
        order by REGIST_TIME
    </select>

    <select id="userCountByGender" resultType="com.jinxin.platform.apcos.cockpit.pojo.vo.config.CountResult">
        SELECT GENDER as name,count(*) as value FROM V_ODS_USER_CENTER_INFO GROUP BY GENDER
    </select>


</mapper>
