<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxin.platform.cdcockpit.mapper.DeviceReportMapper">

    <select id="selectReport" resultType="com.jinxin.platform.cdcockpit.pojo.domains.DeviceReport">
        select MODEL_ID as modelId,
        SERIAL_NUM as serialNum,
        DEVICE_NAME as deviceName,
        DEVICE_MAC as deviceMac,
        PRODUCT_CODE as productCode,
        REPORT_TIME as reportTime,
        CMD_NAME as cmdName,
        "POSITION" as position,
        STATE as state,
        SPARE as spare,
        PRODUCT_CODE_NAME as productCodeName
        from CDCOCKPIT_DEVICE_REPORT where 1=1
        <if test="productCode != null and productCode !=''">and PRODUCT_CODE = #{productCode}</if>
        <!--        <if test="modelId != null and modelId !=''">and MODEL_ID = #{modelId}</if>-->
        <if test="cmdName != null and cmdName !=''">and CMD_NAME = #{cmdName}</if>
        <if test="startTime != null">and REPORT_TIME &gt;= #{startTime}</if>
        order by REPORT_TIME
    </select>


    <select id="selectMaxTimeReport" resultType="com.jinxin.platform.cdcockpit.pojo.domains.DeviceReport">
        SELECT
        v.MODEL_ID as modelId,
        v.SERIAL_NUM as serialNum,
        v.DEVICE_NAME as deviceName,
        v.DEVICE_MAC as deviceMac,
        v.PRODUCT_CODE as productCode,
        v.REPORT_TIME as reportTime,
        v.CMD_NAME as cmdName,
        v."POSITION" as position,
        v.STATE as state,
        v.SPARE as spare,
        v.PRODUCT_CODE_NAME as productCodeName
        FROM
        CDCOCKPIT_DEVICE_REPORT v
        RIGHT JOIN ( SELECT SERIAL_NUM, MAX( REPORT_TIME ) REPORT_TIME FROM CDCOCKPIT_DEVICE_REPORT GROUP BY SERIAL_NUM ) t
        ON v.SERIAL_NUM = t.SERIAL_NUM AND v.REPORT_TIME = t.REPORT_TIME where 1=1
        <if test="productCode != null and productCode !=''">and v.PRODUCT_CODE = #{productCode}</if>
        <if test="cmdName != null and cmdName !=''">and v.CMD_NAME = #{cmdName}</if>
        <if test="startTime != null">and v.REPORT_TIME &gt;= #{startTime}</if>
        order by v.REPORT_TIME
    </select>


</mapper>
