<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxin.platform.cdcockpit.mapper.RankingMapper">


    <select id="selectRankingByModelId" resultType="com.jinxin.platform.cdcockpit.pojo.domains.RankingModel">
         SELECT
        	    m.id,
        	    m.name,
        	    m.value,
        	    m.model_id AS modelId,
        	    row_number ( ) over ( ORDER BY VALUE DESC ) AS top
         FROM
         	ODS_RANKING_MODEL_DATA m
         WHERE
         	MODEL_ID = #{modelId}
    </select>

</mapper>
